---
interface Props {
  contentId?: string;
  label?: string;
}

const { contentId = 'main-content', label = 'Skip to content' } = Astro.props;
---

<a
  href={`#${contentId}`}
  class="bg-primary focus:ring-primary dark:bg-primary-dark dark:focus:ring-primary-dark 
    relative block z-50 rounded px-4 py-2 text-white 
    transition-all focus:ring-2 focus:ring-offset-2 underline 
    focus:outline-none dark:focus:ring-offset-gray-900"
>
  {label}
  <span class="sr-only">(Press Enter to skip to main content)</span>
</a>

<style>
  /* Ensure the link is only hidden visually, not from screen readers */
  a:not(:focus) {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
  }
</style>

