---
import Tag from './Tag.astro';

type Props = {
  tags: string[];
  class?: string;
  showCount?: boolean;
  counts?: Record<string, number>;
};

const { tags, class: className = '', showCount = false, counts = {} } = Astro.props;

const sortedTags = [...tags].sort((a, b) => a.localeCompare(b));
---

<ul class:list={['-mb-2 flex flex-wrap gap-2', className]} aria-label="Tags">
  {
    sortedTags.map((tag) => (
      <li class="mb-2">
        <Tag tag={tag} showCount={showCount} count={counts[tag]} />
      </li>
    ))
  }
</ul>
